repository = {
  owner = "om-network"
  name  = "betayum"
}

environments = {
  staging = {
    project_id        = "betayum-staging-project-id"
    region            = "us-central1"
    branch_name       = "develop"
    approval_required = false
    cloud_sql_instance_connection_name = "staging-project-id:us-central1:betayum-db"

    domains = {
      api    = "api.staging.betayum.com"
      app    = "app.staging.betayum.com"
      portal = "portal.staging.betayum.com"
    }
  }

  production = {
    project_id        = "betayum-prod-project-id"
    region            = "us-central1"
    branch_name       = "release"
    approval_required = true
    cloud_sql_instance_connection_name = "prod-project-id:us-central1:betayum-db"

    domains = {
      api    = "api.betayum.com"
      app    = "app.betayum.com"
      portal = "portal.betayum.com"
    }
  }
}
